<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="artic.edu.search">

    <application>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/SearchTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edu.artic.search"
                    android:scheme="artic" />
            </intent-filter>

        </activity>
    </application>

</manifest>